<div>
 
<ul>
  <a href="/"><img src="../assets/OSURC-350x.png"></a>
  <li><a class="active" href="index.html">Home</a></li>
  <li><a href="/about">About</a></li>
    <li class="dropdown">
        <a class="dropbtn" href="/leadership">Teams</a>
        <div class="dropdown-content">
          <a href="/underwater">Underwater</a>
          <a href="/rover">Rover</a>
          <a href="/drone_racing">Drone Racing</a>
          <a href="/vexu">VexU</a>
          <a href="/board-of-business">Board of Business</a>
        </div>
        </li>
  <!---<li><a href="Academics.html">Academics</a></li> --->
  <li><a href="/resources">Resources</a></li>
  <li><a href="/join">Join</a></li>

</ul>
</div>
