<p>OSURC</p>
<div>
<ul>
  <li><a class="active" href="index.html">Home</a></li>
  <li><a href="/about">About</a></li>
    <li class="dropdown">
        <a class="active dropbtn" href="/leadership">Teams</a>
        <div class="dropdown-content">
          <a href="/underwater">Underwater</a>
          <a href="/rover">Rover</a>
          <a href="/drone_racing">Drone Racing</a>
          <a href="/vexu">VexU</a>
        </div>
        </li>
  <!---<li><a href="Academics.html">Academics</a></li> --->
  <li><a href="#" target="_blank">Resources</a></li>
  <li><a href="https://github.com/nathanjesudason" target="_blank">Join</a></li>

</ul>
</div>
