<h1>Board of Business</h1>

<img src="../assets/COB2-1024x689.jpg"> <br>

<p>

    The Board of Business is the administrative support unit of the Robotics Club. We support and assist the executive team by leveraging our unique skill sets and abilities on outreach projects, financial management and club marketing. We curate social media, organize outreach events and much more.
    </p> <br>
    <p>
    Looking to build your resume by working with hundreds of engineers to solve complex problems? Join the Board of Business! You do not have to be a business major to apply.
    </p>
