<h1>Resources</h1>

<h2>SMD Soldering</h2>

<div class="Section" id="smd_soldering">
<div id="smd-soldering-videos">
<iframe title="SMD Soldering 1: QFN and Reflow Components" src="https://www.youtube.com/embed/dyOc7sWl9Rs?feature=oembed" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="600" height="325" frameborder="0"></iframe>

<iframe loading="lazy" title="SMD Soldering 2: LQFP, TQFP, and Other Difficult Components." src="https://www.youtube.com/embed/QnDmtxcCybQ?feature=oembed" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="600" height="325" frameborder="0"></iframe>

<iframe loading="lazy" title="SMD Soldering 3: Passives and Other Two Pin Components" src="https://www.youtube.com/embed/LB9y6qYV1k4?feature=oembed" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="600" height="325" frameborder="0"></iframe>
</div>
</div>

<h2>Mechanical</h2>
<div class="Section">
    
    <p><a href="https://it.engineering.oregonstate.edu/software">Software</a></p> <br>
    <p><a href="https://blogs.solidworks.com/tech/2020/03/20-years-of-model-mania.html">Model Mania Challenge Parts</a></p> <br>
    </div>