<h1>About and Club History</h1>

<img src="../assets/osu_60_e-768x512.jpg"> <br>

<p>The Robotics Club was formed on September 24th, 2007 as a team focused solely on making a Mars Rover for the University Rover Challenge, a competition we still enter today. With nearly 200 registered members to date, the club is one of the largest student-run organizations at Oregon State University. As the years progressed, members branched off and created other teams like Aerial, Underwater, and more recently, the Drone Racing team.

    The club is made up of members from many backgrounds including engineering, business and liberal arts. Being an engineer is not a requirement to be part of the club. In fact, OSURC encourages anyone with an interest in robotics to join! Due in part to the experience members get working as a team on real projects with real problems, many leave well-equipped to handle the stresses of difficult but rewarding jobs. Our alumni have gone on to work at great companies such as SpaceX, Honeybee Robotics, Tektronix, NVIDIA, Intel, and NASA JPL. Some founding members even went on to become a part of OSU’s faculty, and still teach classes to the next generations of robotics students to this day.</p>


