<h1>Combat Robotics</h1>
<h2>2023-2024 Meetings: Fridays 1pm-5pm in Merryfield</h2>

<iframe class="center-vid" width="560" height="315" src="https://youtu.be/fUXhsN5RsyA?si=gI1W0Ya9RyCywwbZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>

    Combat Robotics is a newer team from the Combat Robotics Club centered on building and competing with lightweight robots. Members of Combat Robotics focuses on the one-pound Plastic Antweight division, and with a larger team the twelve-pound Hobbyweight class.
</p>

<p>
    For more information, contact the Team Osian Leahy  at <a href="mailto: leahyo@oregonstate.edu">leahyo@oregonstate.edu</a> or the main Combat Robotics website at <a href="https://clubs.oregonstate.edu/combat-robotics">https://clubs.oregonstate.edu/combat-robotics</a>.
</p>