.people-list{
    display: inline-flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.person-card{
    flex: 1;
    padding: 20px;
    max-width: 200px;
    background-color: #343434;
    color: white;

    .mat-card-subtitle {
        color: white;
    }
}

a {
    color: rgb(0, 133, 155);
}