<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {{ .Title }}
  </title>
  <meta name="description" content="{{ .Description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{/* Styles */}}
  {{ $options := dict "inlineImports" true }}
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Lightgallery -->
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/lightgallery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/zoom/lg-zoom.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/thumbnail/lg-thumbnail.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery.min.css" rel="stylesheet">

  <!-- Universal tilt -->
  <script src="https://cdn.jsdelivr.net/npm/universal-tilt.js"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Inter and IBM Plex Sans -->
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Barlow Condensed -->
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
</head>

<body class="bg-neutral-900 text-white overflow-x-hidden">

  {{ partial "navbar.html" . }}

  <!-- Poster overlay -->
  <!-- Enable if a new poster is added -->
  <!-- {{ partial "poster.html" . }} -->

  <div class="overflow-x-hidden md:overflow-visible">
    <div class="container px-4 max-w-4xl mx-auto ">
      {{ block "main" . }}{{ end }}
    </div>
  </div>


  {{ partial "footer.html" . }}
</body>

{{/* Scripts */}}
<script src="/js/app.js"></script>

</html>