<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {{ .Title }}
  </title>
  <meta name="description" content="{{ .Description }}" />

  {{/* Styles */}}
  {{ $options := dict "inlineImports" true }}
  <link rel="stylesheet" href="/css/styles.css">

  {{/* Scripts */}}
  <script src="/js/app.js"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Inter and IBM Plex Sans -->
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body class="bg-neutral-900 text-white">

  {{ partial "navbar.html" . }}

  <div class="container px-4 max-w-4xl mx-auto">
    {{ block "main" . }}{{ end }}
  </div>

  {{ partial "footer.html" . }}
</body>

</html>