{{ define "main" }}

<article class="pb-24 relative">
  <div class="relative flex flex-col justify-between bg-black-200">
    <div class="flex mb-8 mt-24">
      <!-- Contact us section -->
      <div class="max-w-md">
        <span class="block text-h2 font-bold font-display shadow leading-none" style="padding-top:20px;">Contact
          Us</span>
        <p class="mt-4 text-lg">
          Have questions about the club or any of the subteams? Interested in joining? Don't hesitate to reach out to us
          using the links below. Additionally follow us on Instagram to get the latest updates on everything Dam
          Robotics.
        </p>

        <div>
          <div class="mt-8">
            <a href="https://www.instagram.com/roboticsatosu">
              <img class="w-12 h-12" src="/images/icons/instagram.svg" alt="Instagram Logo">
            </a>
          </div>
        </div>

        <!-- Membership Section -->
        <span class="block text-h3 font-semibold font-display shadow leading-none mt-10">Membership</span>
        <p class="mt-4 text-lg">
          Interested in joining the club or simply have questions? Join our Discord server below.
        </p>
        <a href="https://discord.gg/mNe8V9nW" target="_blank">
          <button class="bg-orange-500 pb-3 pt-3 pl-3 pr-3 mt-5 mb-5 rounded text-center">Discord</button>
        </a>

        <!-- Registration Section -->
        <span class="block text-h3 font-semibold font-display shadow leading-none mt-10">Registration</span>
        <p class="mt-4 text-lg">
          Ready to register? Search for us on IdeaLogic and fill out the accompanying form.
        </p>
        <div>
          <a href="https://apps.ideal-logic.com/osusli" target ="_blank">
            <button
            class="bg-orange-500 pb-3 pt-3 pl-3 pr-3 mt-5 mb-5 bg-orange-600 rounded text-center">IdeaLogic</button>
          </a>
          
          <a href="https://discord.gg/mNe8V9nW" target="_blank">
            <button class="bg-orange-500 pb-3 pt-3 pl-3 pr-3 mt-5 mb-5 rounded text-center">Discord</button>
          </a>
          </div>
      </div>


      <!-- Team specific questions -->
      <div class="max-w-md ml-auto">
        <span class="block text-h3 font-semibold font-display shadow leading-none" style="padding-top:30px;">Team
          Specific Questions?</span>
        <ul>
          <div class="pb-5 pt-5 pl-5 pr-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded">

            <div style="padding-left: 15px; color: #F97316; font-size: 25px;">Vex U</div>
            <a href="mailto: smithp8@oregonstate.edu" style="padding-left: 15px;">smithp8@oregonstate.edu</a>

          </div>
          <div class="pb-5 pt-5 pl-5 pr-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded">

            <div style="padding-left: 15px; color: #F97316; font-size: 25px;">Underwater</div>
            <a href="mailto: gallinam@oregonstate.edu" style="padding-left: 15px">gallinam@oregonstate.edu</a>

          </div>
          <div class="pb-5 pt-5 pl-5 pr-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded">

            <div style="padding-left: 15px; color: #F97316; font-size: 25px;">Rover</div>
            <a href="mailto: hakkilab@oregonstate.edu" style="padding-left: 15px">hakkilab@oregonstate.edu</a>

          </div>
          <div class="pb-5 pt-5 pl-5 pr-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded">

            <div style="padding-left: 15px; color: #F97316; font-size: 25px;">Drone Racing</div>
            <a href="mailto:  kleinf@oregonstate.edu" style="padding-left: 15px">kleinf@oregonstate.edu</a>

          </div>
          <div class="pb-5 pt-5 pl-5 pr-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded">

            <div style="padding-left: 15px; color: #F97316; font-size: 25px;">Combat</div>
            <a href="mailto: leahyo@oregonstate.edu" style="padding-left: 15px">leahyo@oregonstate.edu</a>

          </div>
          <div class="pb-5 pt-5 pl-5 pr-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded">

            <div style="padding-left: 15px; color: #F97316; font-size: 25px;">Board of Business</div>
            <a href="mailto: example@oregonstate.edu" style="padding-left: 15px">example@oregonstate.edu</a>

          </div>
        </ul>
      </div>
    </div>
  </div>
</article>

{{ end }}