{{ define "main" }}

<article class="pb-24 relative"> 
  <div class="relative flex flex-col justify-between bg-black-200">
    <div class="flex mb-8 mt-24"> 
      <!-- Contact us section -->
      <div class="max-w-md">
        <span class="block text-h2 font-bold font-display shadow leading-none" style="padding-top:20px;">Contact Us</span>
        <p class="mt-4 text-lg"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>

        <div>
          <div class="mt-8">
            <img class="w-12 h-12" src="/images/icons/instagram.svg" alt="Instagram Logo">
          </div>
        </div>

        <!-- Membership Section -->
        <span class="block text-h3 font-semibold font-display shadow leading-none mt-10">Membership</span>
        <p class="mt-4 text-lg"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div>
          <button class="bg-primary pb-3 pt-3 pl-3 pr-3 mt-5 mb-5 rounded text-center">Discord</button>
        </div>

        <!-- Registration Section -->
        <span class="block text-h3 font-semibold font-display shadow leading-none mt-10">Registration</span>
        <p class="mt-4 text-lg"> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div>
          <button class="bg-primary pb-3 pt-3 pl-3 pr-3 mt-5 mb-5 rounded text-center">IdeaLogic</button>
          <button class="bg-primary pb-3 pt-3 pl-3 pr-3 mt-5 mb-5 rounded text-center">Discord</button>
        </div>

      </div>

      
      <!-- Team specific questions -->
      <div class="max-w-md ml-auto"> 
        <span class="block text-h3 font-semibold font-display shadow leading-none" style="padding-top:30px;">Team Specific Questions?</span>
        <ul>
          <div class="pb-5 pt-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded text-center">Vex U</div>
          <div class="pb-5 pt-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded text-center">Under Water</div>
          <div class="pb-5 pt-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded text-center">Rover</div>
          <div class="pb-5 pt-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded text-center">Drone</div>
          <div class="pb-5 pt-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded text-center">Combat</div>
          <div class="pb-5 pt-5 mt-5 mb-5 bg-orange-500 bg-opacity-40 rounded text-center">Board of Business</div>
        </ul>
      </div>
    </div>
  </div>
</article>

{{ end }}
