{{ define "main" }}

<article class="pb-12 relative">
  <div class="relative flex flex-col items-center justify-between h-[400px] bg-black-200">
    <!-- Contact us section -->
    <div class="text-center mx-auto max-w-md mb-8"> 
      <span class="block text-5xl font-bold font-display tracking-tight shadow leading-none">Contact Us</span>
      <p class="mt-4"> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <!-- Team specific questions -->
    <div class="text-center mx-auto max-w-md"> 
      <span class="block text-2xl font-bold font-display tracking-tight shadow leading-none">Team Specific Questions</span>
    </div>
  </div>
</article>

{{ end }}
