{{ define "main" }}

<article class="pb-24 relative"> 
    <div class="orange-bubble">
        Calendar
    </div>
    <div class="gray-bubble">
        <p>Check out our upcoming events!</p>
    </div>
    <hr>
    <div class = "calendar">
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTCALWzutNFb1WWktBxmlvQjkmhTHXycwB2ysGFP8mOjunsBbn7_bjWBeeOpAupIuH3SIGTNsh-xonp/pubhtml?gid=1316858529&amp;single=true&amp;widget=true&amp;headers=false" width="1000" height="600" frameborder="0"></iframe>
    </div>
    

</article>

<style>
    .orange-bubble, .gray-bubble {
        display: inline-block;
        padding: 20px;
        color: white;
        margin-bottom: 20px;
        border-radius: 50%; 
        background-color: rgba(249, 115, 22, 0.8); 
    }
    .orange-bubble {
        display: inline-block;
        margin-top: 100px;
        padding: 10px 20px;
        font-size: 35px;
        background-color: #F97316;
        color: white;
        border-radius: 20px 0 0 20px;
        margin-bottom: 20px;
    }

    .gray-bubble {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ababab;
        border-radius: 0 20px 20px 0;
        margin-bottom: 20px;
    }

    .calendar {
        position: relative;
        height: 0;
        padding-bottom: 70%;
        overflow: hidden;
    }

    .calendar iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
{{ end}}