{{define "main"}}


<article class="pb-24 relative"> 
    <div class="relative flex flex-col justify-between bg-black-200">
        <div class="flex mb-8 mt-24"> 
            <section class="mt-14">
                <div class="flex w-full gap-4 items-center mb-6">
                    <span class="block text-h2 font-bold font-display shadow leading-none" style="padding-top:20px;">Leadership</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="grid grid-cols-3 gap-4 justify-between w-full content-around" style="padding-top:15px;">
                    <div>
                        <div class="w-full h-48 bg-neutral-800"></div>
                        <p style="color:#F97316">President: </p>
                        <p>email@example.com </p>
                    </div>
                    <div>
                        <div class="w-full h-48 bg-neutral-800"></div>
                        <p style="color:#F97316">President: </p>
                        <p>email@example.com </p>
                    </div>
                    <div>
                        <div class="w-full h-48 bg-neutral-800"></div>
                        <p style="color:#F97316">President: </p>
                        <p>email@example.com </p>
                    </div>
                    <div>
                        <div class="w-full h-48 bg-neutral-800"></div>
                        <p style="color:#F97316">President: </p>
                        <p>email@example.com </p>
                    </div>
                    <div>
                        <div class="w-full h-48 bg-neutral-800"></div>
                        <p style="color:#F97316">President: </p>
                        <p>email@example.com </p>
                    </div>
                    <div>
                        <div class="w-full h-48 bg-neutral-800"></div>
                        <p style="color:#F97316">President: </p>
                        <p>email@example.com </p>
                    </div>
                </div>
        
              </section>
        </div>
    </div>
</article>

{{ end }}