{{ define "main" }}

<article class="pb-24 relative"> 
    <div class="relative flex flex-col justify-between bg-black-200">
      <div class="flex mb-8 mt-24"> 
        <!-- Contact us section -->
        <div class="max-w-md">
          <span class="block text-h2 font-bold font-display tracking-tight shadow leading-none">About</span>
          <p class="mt-4 text-lg"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
     </div>
    </div>

</article>

    
{{ end}}