{{ define "main" }}

<article class="pb-24 relative"> 
    <div class="relative flex flex-col justify-between bg-black-200">
      <div class="flex mb-8 mt-24"> 
        <!-- Contact us section -->
        <div class="max-w-md pr-10 pt-10">
          <span class="block text-h2 font-bold font-display shadow leading-none">{{ .Title }}</span>
          <p class="mt-5 text-lg"> 
            {{ .Content }}
          </p>
        </div>
        <div class="ml-auto pt-10"> 
          <img class="rounded-lg shadow-md pl-14" src="/images/big/MU-About.jpg" alt="">
          
        </div>


     </div>

     <div id="Container"
      style="padding-bottom:56.25%; position:relative; display:block; width: 100%; padding-top:60px;">
      <p><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQdSdHCR_fwNh92Pz5wtkOB5_bj1fDDYN3ehB_j8lUZVk6P0cTYDoSqEtl9Ye5PlxHW31eGxdAgaOo5/embed?start=false&amp;loop=false&amp;delayms=60000" frameborder="0" width="550" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></p>



      </div>
     
    </div>

</article>

    
{{ end}}