@tailwind base;
@tailwind components;
@tailwind utilities;


// /* Components */
// @import "components/all.scss";
@import "components/navbar.scss";
@import "components/prose.scss";

// /* Pages */
// @import "pages/blog-single.scss";
@import "pages/home.scss";


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}