<h1>VexU</h1>
<h2>2022-2023 Meetings: Sundays at 10am in Merryfield</h2>


<iframe class="center-vid" width="560" height="315" src="https://www.youtube.com/embed/wIZgvVDZc2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>



OSURC VEX U is a brand new team focused on designing multiple robots and competing in the VEX Robotics competition at the university level. Each year, our team will build two robots to compete in tournaments against teams from around the world with the possibility of competing at the VEX World Championship in the spring. Because the competition is different every year, our largest focus is on designing and testing specific mechanisms and game strategies quickly and efficiently as each season progresses. Our robots will be built from scratch, and they will have constraints on size and electronic parts along with limitations from specific game rules for the year’s competition.

This season, we will try to work our way up the Skills Challenge rankings, where we exhibit the performance level of our robots, drivers, and programmers in a timed match against the clock for a high score.

</p>