<h1>Join</h1>

<div class="content">
<h2>Membership</h2>
<p>Memberships last until the beginning of fall term next school year. Membership will give you access to all of the club's resources, which includes computers, electronics, hand tools, and a ton of other useful stuff for building robots!</p>

<h2>Mailing Lists</h2>
<p>If you are or want to become a member, join <a href="https://secure.engr.oregonstate.edu/mailman/listinfo/osurcmembers" target="_blank">osurcmembers@engr.orst.edu</a>. Only officers are authorized to post to this list.</p>
<p>If you have a question about the club or want to get information distributed to the club, send an email to <a href="https://secure.engr.oregonstate.edu/mailman/listinfo/osurcofficers" target="_blank">osurcofficers@engr.orst.edu.</a></p><br>
<p><a href="https://it.engineering.oregonstate.edu/mailman/listinfo/osurcdroneracing" target="_blank">Drone racing</a></p> 
<p><a href="https://it.engineering.oregonstate.edu/mailman/listinfo/osurcunderwater" target="_blank">Underwater</a></p>
<p><a href="https://it.engineering.oregonstate.edu/mailman/listinfo/osurcrover" target="_blank">Rover</a></p> 
<p><a href="https://lists.oregonstate.edu/mailman/admin/OSURCVexU/" target="_blank">VexU</a></p> <br>

<h2>Registration</h2>
<p>In order to officially be in the club, you must register though <a href="https://apps.ideal-logic.com/osusee?key=F3T9-25VWY_5878-CZ4R_95e2e721" target="_blank">Student Experiences & Engagement</a> in addition to filling out the form below. Search for OSURC!</p>

</div>