{{ if .Params.gallery }}
{{ $base := .Params.galleryBase | default (printf "%s/gallery/" .Permalink) }}
<section class="w-full mt-10 mb-8">
    <div class="flex w-full gap-4 items-center mb-5">
        <span class="flex-none text-white/50 font-medium">Gallery</span>
        <span class="flex-1 w-full border-b h-1 border-white/50"></span>
    </div>

    <div id="lightgallery-{{ .File.UniqueID }}" class="overflow-x-scroll overflow-y-hidden h-[160px] whitespace-nowrap no-scrollbar">
        {{ range .Params.gallery }}
        <a href="{{ $base }}{{ . }}" class="bg-neutral-800 h-full inline-block mr-2">
            <img class="h-full" src="{{ $base }}{{ . }}" alt="">
        </a>
        {{ end }}
    </div>
</section>
<script>
    lightGallery(document.getElementById('lightgallery-{{ .File.UniqueID }}'), {
        plugins: [lgZoom],
        speed: 500,
    });
</script>
{{ end }}
