<!-- Poster display -->
<section id="poster_popup" class="fixed flex items-center justify-center inset-0 w-full h-full bg-black/80 z-40">
    <div class="w-80 sm:w-96 aspect-[calc(461/619)] relative ">
        <a tilt class="z-50 relative rounded-lg block overflow-hidden bg-neutral-600 shadow-xl" href="https://www.youtube.com/@damroboticsclub">
            <img src="/images/flyers/robotics_bachelorette.png" class="w-full h-auto pointer-events-auto" alt="">
        </a>

        <div class="flex z-0 absolute items-center justify-between -top-9 right-0 left-0 w-full">
            <div class="uppercase font-display font-semibold text-[19px]">dam robotics</div>
            <button poster_close id="close_poster_popup" class="underline hover:opacity-70">
                close
            </button>
        </div>

    </div>
</section>

<script>

    // Change when poster is changed, will force new poster to show up
    // even for users who dismissed old ones
    const storage_key = 'hide_popup_rb25'

    const close_poster = () => {
        console.log('close_poster')
        document.getElementById('poster_popup').style.display = "none"
        sessionStorage.setItem(storage_key, true)
    }
    const open_poster = () => {
        document.getElementById('poster_popup').style.display = "flex"
    }

    // Close poster if already dismissed once
    if (sessionStorage.getItem(storage_key))
        close_poster()

    // Close poster on click
    document.getElementById('close_poster_popup').addEventListener('click', close_poster)
    // document.querySelectorAll('[poster_close]').forEach((el) => el.addEventListener('click', close_poster))

    // Open poster on click
    document.querySelectorAll('[poster_open]').forEach((el) => el.addEventListener('click', open_poster))
</script>