{{ define "main" }}
<article class="pb-12">

  <!-- This is the big banner section -->
  <div class="relative min-h-[500pt]">
    <div class="relative scale-125">
      <!-- Background Image -->
      <img src="/images/big/rover_hero.jpg" style="" class="w-full h-[400pt] md:pr-0 md:h-auto object-cover" alt="">
      <!-- Radial Gradient -->
      <div class="absolute w-full h-full top-0" style="background: rgb(23,23,23);
        background: radial-gradient(circle, rgba(23,23,23,0.2) 30%, rgba(23,23,23,1) 82%);"></div>
      <!-- Linear Gradient Top -->
      <div class="absolute w-full top-0 h-24 bg-gradient-to-b from-neutral-900 to-neutral-900/0">
      </div>
      <!-- Linear Gradient Bottom -->
      <div class="absolute w-full bottom-0 h-24 bg-gradient-to-t from-neutral-900 to-neutral-900/0">
      </div>
    </div>

    <div class="absolute top-0 h-full w-full flex items-end pb-10 md:items-center md:pb-0">
      <div>
        <span class="block text-h1.5 md:text-h1 font-bold font-display shadow leading-none mt-6">DAM ROBOTICS</span>
        <span class="block text-[20px] mt-2 font-medium shadow">at Oregon State University</span>
      </div>
    </div>

  </div>

  <!-- This is the where the content starts -->


  <section class="relative grid grid-cols-3 gap-8">
    <div class="col-span-3 md:col-span-1">
      <img class="rounded-lg shadow-md" src="/images/big/home_team.JPG" alt="">
    </div>
    <div class="col-span-3 md:col-span-2">
      <h3 class="text-h3 font-display font-semibold mb-3">Welcome to the OSU Robotics Club!</h3>
      <p class="text-white/80">
        The Robotics Club at OSU is one of the largest student-run clubs at Oregon State University! Each year, the club
        runs multiple project teams such as Combat, Drone Racing, Mars Rover, Underwater, and VEX U to help our members
        become better engineers through practical real-world experiences. Additionally, the Robotics Club provides a
        stocked workspace in Merryfield Hall (Room 103), complete with computer workstations, soldering stations,
        electrical components, 3D printers, and many other tools that are available for use by any of our members.
      </p>
    </div>

  </section>

  <section class="mt-14">


    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 justify-between w-full content-around">

      {{- range ( where site.RegularPages "Section" "teams" | first 6 ) }}
      <a class="bruh-card w-full h-48 flex flex-col rounded-lg relative overflow-hidden bg-neutral-800"
        href="{{ .Permalink }}">

        <div class="bruh-card-bg absolute inset-0 z-0 opacity-20 scale-105">
          <img src="{{ .Permalink }}/hero.jpg" class="object-cover h-full w-full" alt="">
        </div>

        <div class="bruh-card-logo flex-1 flex items-center justify-center pt-4 z-10">
          <img class="h-[90px] max-w-[140px] object-contain" src="{{ .Permalink }}/logo.png" alt="">
        </div>

        <div class="bruh-card-text bg-black/0 flex-none px-5 py-4 font-display font-medium flex items-center z-10">
          <span class="flex-1 text-[20px]">{{ .Title}}</span>
          <span class="text-white w-5 h-5">
            {{ partial "icons/chevron_right.svg" . }}
          </span>
        </div>

      </a>
      {{ end }}

      <!-- <div class="w-full h-48 bg-neutral-800"></div>
      <div class="w-full h-48 bg-neutral-800"></div>
      <div class="w-full h-48 bg-neutral-800"></div>
      <div class="w-full h-48 bg-neutral-800"></div>
      <div class="w-full h-48 bg-neutral-800"></div>
      <div class="w-full h-48 bg-neutral-800"></div> -->
    </div>



    <!-- <div class="relative overflow-hidden rounded-lg">
      <div class="absolute w-full left-0 right-0 h-40 bg-gradient-to-r from-orange-900 from-[49%] to-[51%] to-orange-500"></div>
      <div class="flex w-full overflow-hidden h-40 justify-center text-white">
        <div class="bg-orange-900 nascar-menu-item">
          <span class="font-display">Rover</span>
        </div>
        <div class="bg-orange-800 nascar-menu-item">
          <span>This is the text</span>
        </div>
        <div class="bg-orange-700 nascar-menu-item"></div>
        <div class="bg-orange-600 nascar-menu-item"></div>
        <div class="bg-orange-500 nascar-menu-item"></div>
      </div>
    </div> -->

  </section>


  <section class="relative grid grid-cols-3 gap-8 mt-16 items-center">

    <div class="col-span-3 md:col-span-2">
      <p class="text-white/80">
        Being an engineer is not a requirement to be part of the club! In fact, the Robotics Club encourages anyone with
        an interest in robotics to join! Due in part to the experience members get working as a team on real projects
        with real problems, many leave well-equipped to handle the stresses of difficult but rewarding jobs. Our alumni
        have gone on to work at great companies such as SpaceX, Honeybee Robotics, Tektronix, NVIDIA, Intel, and NASA
        JPL. Some founding members even went on to become a part of OSU’s faculty, and still teach classes to the next
        generations of robotics students to this day.
      </p>
    </div>
    <div class="relative col-span-3 md:col-span-1">
      <!-- <img class="rounded-lg shadow-md" src="/images/big/home_team.JPG" alt=""> -->
      <div class="absolute w-full h-full flex items-center">
        <div>
          <div class="text-h3 font-semibold font-display text-white/100">200 Students Strong</div>
          <p class="text-white/80 mt-2">The OSU Robotics Club is the largest student-led club on campus!</p>
        </div>

      </div>
      <div class="rounded-full mx-auto w-48 h-48 bg-neutral-800"></div>

    </div>

  </section>

  <section class="mt-16">
    <div class="absolute z-0 left-0 right-0 bg-neutral-800 h-48">

    </div>
    <div class="h-48 py-8 relative">
      <div class="font-display font-medium text-white/60 text-h4">Thank you to our Sponsors!</div>
      <div class="flex justify-around">
        <div class="flex-none h-6 w-42 bg-neutral-700"></div>
      </div>
    </div>
  </section>

  <section class="pt-16">
    <h3 class="text-h3 font-display font-semibold mb-5">Latest Updates</h3>
    <!-- <div class="grid grid-cols-4 gap-4">
      <div class="aspect-square bg-neutral-800"></div>
      <div class="aspect-square bg-neutral-800"></div>
      <div class="aspect-square bg-neutral-800"></div>
      <div class="aspect-square bg-neutral-800"></div>
    </div> -->

    <div>
      {{ partial "igfeed.html" }}
    </div>

    <!-- <div class="flex items-center">
      <button class="bg-primary mt-8 mx-auto px-3 py-2 rounded-lg text-center">OSURC on Instagram</button>

    </div> -->
  </section>



  <!-- <h2 class="text-4xl">Testing Tailwind 3 Features</h2>
    <div>
      <button class="bg-[green] p-4">Share on Twitter</button>
    </div> -->

  <!-- <h2 class="text-4xl">Markdowns: {{ .Title }}</h2> -->
  <!-- {{ .Content }}.. -->


</article>
{{ end }}