<h1>Drone Racing</h1>
<h2>2022-2023 Meetings: Saturdays at 10am in Kelley 1001</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/5NGPUG7o-qg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>

    OSURC Drone Racing is a newer team centered on building and competing with high-speed racing quads. The drones fly at speeds of more than 120 mph and the propellers spin at speeds up to Mach 1. We hold workshops to help members design and construct their own drones and also organize practice racing events so we can effectively compete throughout the country. Members usually come from majors such as mechanical, electrical and computer science engineers. However, it is open to anyone interested in building and racing drones, no prior experience necessary.
    
    A full set of racing drone gear costs between $350 and $1000. If this team interests you, be prepared for an investment or start saving!
    </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/E4qJWyBHqg0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YhJpdCZNSDc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/88bLztuEIsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
