.center-vid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.vid-container {
    padding-top: 25px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
}

p {
    padding-left: 230px;
    padding-right: 230px;
    color: white;
    font-size: 18px;
}