<h1>Underwater</h1>
<h2>2022-2023 Meetings: Sundays at 12pm at COVL 216</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/dwKBtHlCI48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
Our Underwater team is focused on building and marketing a Remote Operated Vehicle (ROV). 
The ROV is designed and built according to MATE Competition requirements.
 While requirements change year to year, they traditionally involve solving oceanic and environmental issues. 
 Experience is not required to be a part of the team, only motivation and a willingness to learn.</p>

<div class="subteam">
    <h2>Electrical Subteam</h2>
    <p>Every year the electrical team designs and builds custom board stacks that connect the software team to the sensors and mechanical systems of the robot.</p>
</div>

<div class="subteam">
    <h2>Mechanical Subteam</h2>
    <p>The mechanical team focuses on the design and fabrication of the physical aspects of the ROV. Members of the mechanical team spend time designing parts, modeling parts in CAD, manufacturing, and communicating with the other subteams to ensure their designs will cooperate with the needs of the other subteams.</p>
</div>

<div class="subteam">
    <h2>Software Subteam</h2>
    <p>The software subteam of the Underwater ROV uses ROS (Robot Operating System) along with C++ to write code in order for the robot to run. Each year, this subteam deals with the challenges of connecting the driver to the robot as well as using sensors to allow the robot to complete some of the competition tasks autonomously.</p>
</div>

<p>
    For more information, contact the Team Lead Nathan Jesudason at <a href="mailto: jesudasn@oregonstate.edu">jesudasn@oregonstate.edu</a>.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/KWNBOUqVIPQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>