iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding-left: 230px;
    padding-right: 230px;
    color: white;
    font-size: 18px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #d73f09;
    font-weight: bold;
}

h2 {
    text-align: center;
    padding: 0%;
}

a {
    color: rgb(0, 133, 155);
}