<p>rover works!</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/gP94_0F8iwI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>

    OSURC Mars Rover is a multidisciplinary team of dedicated engineers, scientists and robotics enthusiasts committed to designing, building and operating a small-scale Mars Rover. The group is split into four subteams: Electrical, Mechanical, Science, and Software. Each subteam is responsible for designing, developing and implementing every component on the rover; from custom PCBs by Electrical, a six-axis arm by Mechanical, in-situ life detection by Science, to autonomous navigation by Software.
    
    All skill levels and majors are welcome, so whether you are a first-year engineering student looking for practice applying concepts learned in class, or a business student looking for experience managing the finances of one of the largest clubs on campus, you can be a contributing member of our team!
    </p>